/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Add a gray background color and some padding to the footer */

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}

.recruit_guide_h01_h04out {
    background-image: url("img/recruit_page01/banner.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.bg_header {
    opacity: 0.85;
    background-color: #ffffff;
    background-image: url("img/Group 4.svg");
    background-repeat: no-repeat;
    background-position-x: 48.7px;
    background-position-y: center;
    height: 127.4px;
}

    .bg_header > .navbar-collapse > .navbar-nav {
        text-align: center;
    }


.p_font_2 {
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff;
}

.p_font_1 {
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff;
    top: 45%;
    position: relative;
    text-align: center;
    margin: 0 auto;
}

/*css*/
.font_1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: 1.6px;
    text-align: left;
    color: #000000;
    text-align: left;
}

.font_2 {
    font-family: 'NotoSansJP Regular', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.font_3 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: normal;
    text-align: center;
    color: #0099e7;
}

.font_4 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    padding-bottom: 41px;
}

.padding_1 {
    padding-top: 51px;
    padding-bottom: 77px;
}

.padding_2 {
    padding-top: 74px;
    padding-bottom: 72px;
}

.margin_1 {
    margin-bottom: 62px;
}

.special_font {
    font-size: 57px;
    letter-spacing: 2.85px;
    color: #0099e7;
}

.logo_org {
    width: 100%;
    height: 62px;
    object-fit: contain;
    top: 40%;
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.container-top {
    background-color: #ffffff;
    min-height: 705px;
}

.container-middle {
    background-color: #e5f5f7;
    /*min-height: 1038px;*/
}

.container-middle-2 {
    background-color: #ffffff;
    min-height: 450px;
}

.container-top .container {
    position: relative;
}

.business-model {
    width: 589px;
    height: 589px;
    object-fit: contain;
}

.business-model-block {
    position: absolute;
    right: 0px;
    top: 51px;
}

.rectangle-video {
    width: 100%;
    height: 508px;
    background-color: #575757;
    margin-bottom: 100px;
}

.rectangle-video .video-text {
    font-family: 'NotoSansJP Regular', sans-serif;
    font-size: 19px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 508px;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    height: 508px;
}

.image-middle-2 {
    width: 100%;
    border-bottom: 5.6px solid #0099e7;
}

a.link-block {
    width: 100%;
    display: block;
    padding: 20px 0px;
    position: relative;
}

.font_1 .operation-management-flow-title {
    margin: 0;
}

span.link-block-text {
    height: 27px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    display: inline-block;
}

span.link-block-icon {
    display: inline-block;
    position: absolute;
    right: 0px;
    width: 27px;
    height: 27px;
    color: #0099e7;
}

.rectangle-break-section {
    width: 100%;
    height: 30px;
    background-color: #ebebeb;
}

@media (max-width: 960px) {
    .business-model-block {
        position: unset;
        width: 335px;
        height: 335px;
    }
    .business-model-block .business-model {
        width: 100%;
        height: 100%;
        margin-bottom: 18px;
    }

    .font_1 {
        font-size: 24px;
    }

    .special_font {
        font-size: 48px;
        letter-spacing: 2.4px;
    }

    .margin_1 {
        margin-bottom: 50px;
    }

    .font_2 {
        font-size: 16px;
        line-height: 1.86;
    }

    .video-block, .container-middle-2 .image-middle-2, .rectangle-break-section {
        display: none;
    }

    .container-middle {
        min-height: 512px;
    }

    .link-block {
        height: 70px;
        padding-left: 20px !important;
        border: solid 1px #0099e7;
        background-color: #ffffff;
        margin-bottom: 16px;
    }

    .link-block .link-block-icon {
        right: 20px;
    }

    .container-middle-2 {
        min-height: unset;
    }

    .padding_1 {
        padding-top: 20px;
        padding-bottom: 47.5px;
    }

    .padding_2 {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .business-summary-title-break {
        display: block;
    }

    .business-model-block .col-sm-12 {
        padding: 0;
    }

    .business-content-ori .col-sm-12 {
        padding: 0;
    }

    .font_1 .operation-management-flow-title {
        margin: 0;
        font-size: 24px;
    }
}
