.hearder-container {
    height: 447px;
    border: none;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.header-service {
    width: 210px;
    height: 210px;
    background-color: #ffffff;
    display: inline-block;
    position: absolute;
    z-index: 3;
    bottom: 50px;
    left: 49px;
}

.overlay-header {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background: #00589b40;
}

.header-service-text {
    height: 17px;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #0099e7;
    margin-top: 66px;
}

.header-service-name {
    height: 43px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 6.4px;
    text-align: left;
    color: #000000;
    margin-top: 16px;
}

.image-header {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    object-fit: cover;
}

.breadcrumb-container {
    height: 97px;
    background-color: #383838;
    border-bottom: 5px solid #0099e7;
}

.breadcrumb-header {
    margin-top: 38px;
}

.breadcrumb-header a {
    font-family: 'NotoSansJP Regular', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.86;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.breadcrumb-header .breadcrumb-icon {
    color: #0099e7;
}

@media (min-width: 1200px) {
    .hearder-container {
        max-width: 1920px;
    }
}

@media (max-width: 991px) {
    .hearder-container {
    height: 222px;
    }

    .header-service {
    width: 117px;
    height: 117px;
    bottom: 20px;
    left: 20px;
    }

    .header-service-text {
    height: 11px;
    font-size: 10px;
    margin-top: 35px;
    }

    .header-service-name {
    height: 22px;
    font-size: 17px;
    margin-top: 10px;
    }
}
