.remote-manage-img {
  /* width: 1020px; */
/* width: 53.125%; */
width: 100%;
height: auto;
  /* height: 482px; */
}

.remote-manage-flow-desc {
  font-size: 16px;
  /* margin: 80px 0; */
  padding: 80px 0;
    /* width: 53.125%; */
    margin: auto;
}

.remote-manage-flow-waab {
  display: block;
  width: 100%;
}

.remote-manage-flow-waab .remote-manage-flow-waab-panel {
  margin: auto;
  text-align: center;
  /* padding: 38px 80px; */
  padding-top: 35px;
  margin-top: 80px;
  margin-bottom: 0;
}

.remote-manage-flow-waab-section {
  padding: 50px 0 100px;
  background: #E5F5F7;
  width: 100%;
}

.remote-manage-flow-point-info {
  width: 104px;
  height: 104px;
  background: #0099E7;
  padding: 22px 28px;
  text-align: center;
  position: absolute;
  top: -18%;
  left: -3%;
}

.remote-manage-flow-point-text {
  font-family: "Arial";
  font-size: 16px;
  color: #ffffff;
  line-height: 32px;
}

.remote-manage-flow-point-value {
  font-size: 42px;
  display: block;
}

.remote-manage-flow-point-detail-group {
  /* width: 902px; */
  height: 113px;
  background: #fff;
  padding-left: 114px;
  padding-top: 20px;
}

.remote-manage-flow-point-detail-title {
  font-weight: bold;
  font-size: 24px;
  color: #0099E7;
  margin-bottom: 13px;
}

.remote-manage-flow-point-detail-desc {
  font-size: 14px;
}

.remote-manage-flow-point-group {
  position: relative;
  margin: auto;
  /* width: 1020px; */
width: 100%;
  margin-top: 100px;
}

.remote-manage-flow-panel-group {
  margin: auto;
}

@media screen and (max-width: 1136px) {
  .remote-manage-flow-desc {
    padding: 42px 0;
    font-size: 14px;
    /* width: 335px; */
    margin: auto;
    /* width: 85%; */
    text-align: left;
  }
  
  .operation-management-break {
    display: inline;
  }

  .remote-manage-img {
    /* width: 80%; */
    /* width: 335px;
    height: 158px; */
  }

  .remote-manage-flow-point-detail-group {
    /* width: 335px; */
    width: 100%;
    height: 167px;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 22px;
    margin: auto;
  }

  .remote-manage-flow-point-info {
    position: relative;
    margin: auto;
    transform: translateY(17%);
    width: 68px;
    height: 68px;
    padding: 14px 20px;
    left: 0;
  }

  .remote-manage-flow-point-text {
    font-size: 10px;
    line-height: 22px;
  }

  .remote-manage-flow-point-value {
    font-size: 24px;
  }

  .remote-manage-flow-point-detail-title {
    font-size: 15px;
  }

  .remote-manage-flow-waab .remote-manage-flow-waab-panel {
    margin-top: 30px;
    padding-top: 25px;
  }

  .remote-manage-flow-point-group {
    margin-top: 31px;
    width: 100%;
    /* width: 335px; */
  }
}

@media screen and (max-width: 414px) {
  .remote-manage-flow-waab-section .col-sm-12 {
    padding: 0;
  }

  .remote-manage-flow-waab-section {
    padding: 30px 0 50px
  }
} 