.wrapCS {
  margin: 100px 100px 50px 100px;
}
@media (width: 1024px) {
  .wrapCS {
    margin: 100px 50px 50px 50px;
  }
}
.icon-loadmore {
  margin-top: 30px;
}

@-webkit-keyframes ripple-colour {
  0% {
    -webkit-box-shadow: 0 0 0 0 #6a43d5, 0 0 0 5px #6a43d5, 0 0 0 10px #6a43d5;
    box-shadow: 0 0 0 0 #6a43d5, 0 0 0 5px #6a43d5, 0 0 0 10px #6a43d5;
  }

  100% {
    -webkit-box-shadow: 0 0 0 10px #6a43d5, 0 0 0 10px #6a43d5,
      0 0 0 15px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 10px 5#b3a3e0, 0 0 0 10px #6a43d5,
      0 0 0 15px rgba(255, 255, 255, 0);
  }
}

@keyframes ripple-colour {
  0% {
    -webkit-box-shadow: 0 0 0 0 #6a43d5, 0 0 0 5px #6a43d5, 0 0 0 10px #6a43d5;
    box-shadow: 0 0 0 0 #6a43d5, 0 0 0 5px #6a43d5, 0 0 0 10px #6a43d5;
  }

  100% {
    -webkit-box-shadow: 0 0 0 5px #6a43d5, 0 0 0 10px #6a43d5,
      0 0 0 15px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 10px 5#b3a3e0, 0 0 0 10px #6a43d5,
      0 0 0 15px rgba(255, 255, 255, 0);
  }
}

.wrapOurWorks {
  width: 100%;
  padding: 100px 0;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.wrapOurWorksCenter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 55px;
  margin: 12px 0;
}

.h4text {
  cursor: pointer;
  margin: 10px;
  letter-spacing: 1.8px;
  color: #6a43d5;
  font-size: 18px;
  line-height: 22px;
  font-family: "Prompt", sans-serif;
}

.svgicon {
  height: 24px;
  cursor: pointer;
  color: #6a43d5;
  margin-right: 12px;
  border-radius: 50%;
  animation: ripple-colour 1.2s linear infinite;
  -webkit-transition: 0.7s linear;
  /* transition-timing-function: cubic-bezier(0.84, -0.74, 0, 0.86); */
}

.subTitle {
  font-size: 26px;
  width: 70%;
  font-weight: normal;
  margin: 10px 0;
  line-height: 1.5;
  text-align: center;
}

.wrapTech {
  margin: 24px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 90%;
}

.techItem {
  padding: 12px 32px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.techItem:hover {
  background-color: #f1f1f1;
}

.techItem > span {
  line-height: 1;
}

.techItemActive {
  padding: 12px 32px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 3px 6px #00000029;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  background-image: linear-gradient(315deg, #9921e8 0%, #5f72be 74%) !important;
}

.techItemActive > span {
  line-height: 1;
  color: #ffffff;
  /* font-weight: bold; */
}

.wrapProjectColumn {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
}

.wrapProjectRow {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* max-width: 1310px; */
  margin: 30px auto;
  /* overflow: auto; */
  justify-content: center;
}

.fixheight {
  height: auto;
}

.loadmore {
  height: auto !important;
}

.wrapText {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.wrapText .subTitle {
  text-align: left;
  width: 100%;
}

.wrapTextCenter {
  align-items: center;
  /* margin-bottom: 40px; */
}

.wrapTextCenter .subTitle {
  text-align: center;
}

.wrapTextCenter h5 strong {
  font-weight: normal;
}

.wrapCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  width: fit-content;
  cursor: pointer;
}

/* @media (max-width: 1800px) {
  .fixheight {
    height: 880px;
  }
}
@media (max-width: 1700px) {
  .fixheight {
    height: 830px;
  }
}
@media (max-width: 1600px) {
  .fixheight {
    height: 780px;
  }
}
@media (max-width: 1500px) {
  .fixheight {
    height: 730px;
  }
}
@media (max-width: 1400px) {
  .fixheight {
    height: 680px;
  }
}
@media (max-width: 1300px) {
  .fixheight {
    height: 630px;
  }
} */
@media (max-width: 1200px) {
  .wrapOurWorks {
    padding: 48px 0;
    padding: 0 15px;
    width: auto;
  }

  .wrapProjectColumn,
  .wrapText {
    width: 100%;
  }

  .wrapTech {
    margin: 12px 0;
  }

  .wrapProjectColumn {
    margin: 0;
  }

  .subTitle {
    width: 100%;
    text-align: center;
  }

  .wrapProjectRow {
    margin: 0 -12px;
    width: auto;
  }

  /* .fixheight {
    height: 1223px;
  } */
  .techItem {
    margin-right: 10px;
  }

  .techItemActive {
    margin-right: 10px;
  }

  .wrapOurWorks {
    padding: 0;
  }
}

/* @media (max-width: 1150px) {
  .fixheight {
    height: 1180px;
  }
}
@media (max-width: 1024px) {
  .fixheight {
    height: 1042px;
  }
}
@media (max-width: 768px) {
  .fixheight {
    height: 3311px;
  }
}
@media (max-width: 414px) {
  .fixheight {
    height: 1842px;
  }
} */
@media (max-width: 768px) {
  .wrapCS {
    margin: 50px 0px 50px;
  }
  .wrapTech {
    max-width: 100%;
  }
}
@media only screen and (max-width: 800px) {
  .wrapText {
    width: auto;
  }

  .wrapCS {
    margin: 100px 0px 50px;
  }

  .wrapTech {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .techItemActive,
  .techItem {
    font-size: 10px;
    height: 25px;
    padding: 0 15px;
    margin: 0 0 12px 10px;
    box-shadow: 0px 3px 10px #00000017;
    border: none;
  }

  .techItemActive {
    border: 1px solid #8c298d;
  }

  .wrapOurWorks {
    padding: 0;
    width: auto;
  }

  .subTitle {
    width: 100%;
    font-size: 14px;
  }

  .title {
    text-align: center;
    font-size: 20px;
  }

  .wrapProjectRow {
    margin: 30px auto;
  }
}

