.item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #c8b8f4;
  padding-top: 40px;
}
.item:last-child{
  border-bottom: none;
}
.item > p {
  max-width: 475px;
  min-width: 375px;
  width: 100%;
  margin-right: 50px;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  line-height: 2;
  letter-spacing: 0px;
  color: #23496d;
  opacity: 1;
  color: #23496d;
}
.table{
  margin-right: 100px;
}
.groupReason {
  flex: 1;
  max-width: 990px;
  margin-right: 90px;
}

.groupReason > p {
  text-align: left;
  font-size: 16px;
  font-weight: normal;
  line-height: 50px;
  letter-spacing: 0px;
  opacity: 1;
  color: #23496d;
}
@media (max-width: 1366px) {
  .item > p {
    max-width: 300px;
    min-width: 200px;
  }
  .groupReason {
    margin: 0px;
  }
}
@media (max-width: 1024px) {
  .item > p {
    max-width: 200px;
    min-width: 100px;
  }
  .groupReason {
    margin: 0px;
  }
}
@media (max-width: 768px) {
  .table{
    margin-right: 0;
  }
  .item {
    flex-direction: column;
    margin: 0px;
  }
  .item > p {
    max-width: none;
    min-width: none;
  }
  .item > p {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0px;
    color: #23496d;
    opacity: 1;
  }
  .groupReason > p {
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    line-height: 30px;
    letter-spacing: 0px;
    opacity: 1;
  }
}
