.container {
  display: flex;
  justify-content: center;
  padding: 30px 40px;
  width: 100%;
  align-items: center;
}
.project {
  margin: 120px 0 260px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.boxcolor {
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 10px solid #7c57e2;
  opacity: 1;
  /* max-width: 455px; */
  padding: 90px 120px;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
}
.quaterImg > img {
  position: absolute;
  left: 0;
  bottom: 0;
}
.boxcolor > h4 {
  text-align: left;
  font: normal normal bold 45px/59px Roboto;
  letter-spacing: 0px;
  color: #212121;
  opacity: 1;
}
.boxcolor > p {
  text-align: left;
  font: normal normal normal 26px/34px Roboto;
  letter-spacing: 0px;
  color: #bdbdbd;
  opacity: 1;
}
.control {
  display: flex;
  justify-content: center;
  width: 100%;
}
.control > img {
  width: 100px;
  height: 40px;
  color: #bdbdbd;
  opacity: 1;
}
.cover {
  height: 276px;
  margin-right: 15px;
  display: flex;
  align-items: center;
}
@media (min-width: 1600px) and (max-width: 1920px) {
  .boxcolor {
    padding: 90px 200px;
  }
}
@media (max-width: 930px) {
  .boxcolor {
    padding: 90px;
  }
}
@media (max-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .boxcolor {
    height: 260px;
    width: 70%;
    /* position: relative; */
  }
  .boxcolor > h4 {
    font-size: 28px;
  }
  .cover {
    transform: translate(7px, 130px);
  }
}
@media (min-width: 769px) {
  .cover {
    height: 276px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    /* transform: translateX(-69px); */
  }
  .boxcolor {
    left: 60px;
  }
}
@media (min-width: 375px) and (max-width: 768px) {
  .boxcolor {
    height: 260px;
    padding: 22px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .boxcolor {
    height: 260px;
    width: 40%;
  }
}
