.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  /* border-top: 1px solid #c8b8f4;
  padding-top: 40px; */
  flex-direction: column;
}

.introduce {
  margin-bottom: 40px;
  display: flex;
}

.title {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 0px;
  color: #2f3f4e;
}

.subtitle {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0px;
  color: #6c3af5;
  margin-bottom: 40px;
}

.wrapDetail {
  width: 50%;
  padding-right: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
  letter-spacing: 0px;
  color: #172052;
}

.introImg {
  width: 50%;
}

.introImg > img {
  width: 100%;
  height: 350px;
  border-radius: 10px;
  object-fit: cover;
}

@media (min-width: 1024px) and (max-width: 1399px) {
  /* .wrapContainer{
    margin: 100px 50px 0px 100px
  } */
}

@media (max-width: 1023px) {
  .item {
    flex-direction: column;
    margin: 0px;
  }

  .item > p {
    max-width: none;
    min-width: none;
  }

  .item > p {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0px;
    color: #2f3f4e;
    opacity: 1;
  }

  .groupReason > p {
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    line-height: 30px;
    letter-spacing: 0px;
    opacity: 1;
  }

  .wrapContainer {
    margin: 100px 50px 0px 100px;
  }
}

@media (max-width: 768px) {
  .subtitle,
  .content {
    font-size: 14px;
  }

  .title {
    font-size: 16px;
  }

  .introduce {
    flex-direction: column;
  }

  .wrapDetail {
    width: 100%;
    padding-right: 0;
  }

  .introImg {
    width: 100%;
  }
  .content {
    margin-bottom: 5px;
  }
  .subtitle {
    margin-bottom: 20px;
  }
}
