.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  /* border-top: 1px solid #c8b8f4;
  padding-top: 40px; */
  flex-direction: column;
}
.introduce {
  margin-bottom: 40px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 0px;
  color: #23496d;
}

.subtitle {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
  letter-spacing: 0px;
  color: #6c3af5;
}

.content {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
  letter-spacing: 0px;
  color: #172052;
}

@media ( min-width: 1024px) and (max-width:1399px){
  .wrapContainer{
    margin: 100px 50px 0px 100px
  }
}

@media (max-width: 1023px) {
  .item {
    flex-direction: column;
    margin: 0px;
  }

  .item > p {
    max-width: none;
    min-width: none;
  }

  .item > p {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0px;
    color: #23496d;
    opacity: 1;
  }

  .groupReason > p {
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    line-height: 30px;
    letter-spacing: 0px;
    opacity: 1;
  }
  .wrapContainer{
    margin: 100px 50px 0px 50px
  }
}

@media (max-width: 768px) {
  .subtitle,
  .content {
    font-size: 14px;
  }
  .title {
    font-size: 16px;
  }
}
