.root {
  width: 100%;
}

.wrapHiring {
  background: #f4f4f5;
}

.wrapConsultation {
  margin-top: 100px;
}

@media only screen and (max-width: 800px) {
  .wrapMobile {
    width: auto;
    margin: 0 24px;
  }
}
