.slider {
  height: 820px;
  /* display: flex;
  justify-content: space-between; */
}
.slider .active {
  display: flex;
  align-items: center;
  justify-content: center;
}
.coverItemInner {
  display: flex;
  justify-content: center;
  margin-right: 100px;
  position: relative;
  height: 665px;
  justify-content: center;
}
.coverItemInner img {
  position: absolute;
  right: 20%;
  top: 0;
  max-width: 450px;
}
.covermessage {
  width: 720px;
  height: auto;
  z-index: 20;
  padding: 20px;
  background: #fafafa 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  transform: translate(-200px, 150px);
  opacity: 0.8;
}
.message {
  height: auto;
  z-index: 20;
  padding: 38px 27px 40px 40px;
  min-width: 300px;

  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 3px solid #23496d;
  opacity: 1;
  /* transform: translate(100px, 150px); */
}
.message > p {
  font-size: 14px;
}
.sign {
  display: flex;
}
.sign > p {
  margin-right: 14px;
}
/* .img {
  padding: 157px;
  width: 100%;
  height: auto;
} */
.coverInfo {
  display: flex;
  flex-direction: column;
  margin-left: 14px;
}
.coverInfo > h5 {
  color: #23496d;
}
.foot-line > span > img {
  border-radius: 50%;
  width: 74px;
}
.slider > div > ol {
  /* display: flex;
  flex-direction: column;
  left: auto;
  height: 100%;
  transform: translateX(30px); */
  display: none !important;
}
.slider > div > ol > li {
  border-radius: 50%;
  width: 10px;
  height: 7px;
}
/* .slider > div > ol > a {
  color: #21293029 !important;
  width: 30px;
  height: auto;
  z-index: 1000;
  display: contents !important;
}
.slider > div > ol > a:hover {
  color: #21293029 !important;
  width: 22px;
  height: auto;
  z-index: 1000;
  display: contents !important;
} */
.prev,
.next {
  color: #21293029;
}

.container-about {
  display: flex;
  width: 100%;
  margin-top: 30px;
}
.left-about {
  width: 50%;
  padding-left: 30px;
  padding-right: 50px;
  display: flex;
  align-items: center;
}
.right-about {
  width: 80%;
  padding-right: 30px;
  padding-left: 50px;
  display: flex;
  align-items: center;
  margin: auto;
}
.wrap1-about {
  width: 100%;
}
.wrap2-about {
  padding: 20px;
  background: #fafafa 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
}
.content-about {
  padding: 40px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 3px solid #6a43d5;
}
.content-about > div > h4 {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.6px;
  color: #23496d;
}
.content-about p {
  font-size: 16px;
  letter-spacing: 0.48px;
  color: #23496d;
}
.foot-line {
  display: flex;
  align-items: center;
}
.foot-line > p {
  font-weight: bold;
}
.foot-space {
  margin-left: 20px;
}
.decorate {
  display: flex;
  margin-bottom: 35px;
}
.decorate div {
  width: 50px;
  height: 20px;
}
.decorate1 {
  background-color: #6a43d5;
}
.decorate2 {
  background-color: #6a43d5e6;
  margin-left: 10px;
}
.decorate3 {
  background-color: #6a43d5cc;
  margin-left: 10px;
}
.decorate4 {
  background-color: #6a43d5b3;
  margin-left: 10px;
}
.decorate5 {
  background-color: #6a43d599;
  margin-left: 10px;
}

@media (max-width: 1280px) {
  .container-about {
    flex-direction: column;
    padding: 0px;
  }
  .left-about {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  .right-about {
    margin-top: 35px;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
  .content-about {
    padding: 10px;
    /* border: unset; */
  }
  .wrap2-about {
    padding: 10px;
    /* box-shadow: unset;
    background: unset; */
  }
  .decorate div {
    width: 40px;
    height: 10px;
  }
}

@media (max-width: 1810px) {
  .slider > div > ol {
    transform: translateX(60px);
  }
}
@media (max-width: 1740px) {
  .slider > div > ol {
    display: flex;
    flex-direction: column;
    left: auto;
    height: 100%;
    transform: translateX(90px);
  }
}
@media (max-width: 1660px) {
  .slider > div > ol {
    display: flex;
    flex-direction: column;
    left: auto;
    height: 100%;
    transform: translateX(130px);
  }
  .covermessage {
    transform: none;
    position: absolute;
    left: 0;
    top: 100px;
  }
  .coverItemInner img {
    right: -10%;
  }
}
@media (max-width: 1248px) {
  .slider > div > ol {
    display: flex;
    flex-direction: column;
    left: auto;
    height: 100%;
    transform: translateX(170px);
  }
}

@media (min-width: 950px) {
  .slider > div > ol {
    bottom: 0;
    top: 0;
  }
  .prev {
    position: absolute;
    top: 190px;
    width: 20px;
    left: 7px;
  }
  .next {
    position: absolute;
    bottom: 190px;
    width: 20px;
    left: 7px;
  }
}
@media (max-width: 950px) {
  .slider > div > ol {
    display: flex;
    flex-direction: row;
    height: 22px;
    width: 100%;
    bottom: -50px;
  }
  .coverItemInner {
    align-items: center;
    flex-direction: column;
    padding: 291px 0px 625px;
  }

  .covermessage {
    transform: translate(0px, 256px);
    position: absolute;
    top: 150px;
    width: 100%;
    min-width: 336px;
    max-width: 500px;
    background: transparent;
    /* border: none;
    box-shadow: none; */
  }
  .slider > div > ol {
    margin-right: 167px;
  }

  .slider > div > ol > div > a > svg {
    transform: rotate(-90deg);
  }
  .prev {
    width: 20px;
    position: absolute;
    left: 131px;
    bottom: -12px;
  }
  .next {
    width: 20px;
    position: absolute;
    right: 131px;
    bottom: -12px;
  }
}
/* @media (max-width: 800px) {
  .slider > div > ol {
    transform: translateX(130px);
  }
} */
@media (max-width: 768px) {
  .coverItemInner {
    padding: 0;
    margin-right: 0;
    height: 1100px;
  }
  .coverItemInner img {
    max-width: 100%;
    right: 0 !important;
  }
  .covermessage {
    top: 0;
    padding: 10px;
    min-width: auto;
  }
  .message {
    padding: 10px;
    min-width: auto;
  }
  .slider {
    height: auto;
  }
  .prev {
    width: 20px;
    position: absolute;
    left: 133px;
    bottom: -12px;
  }
  .next {
    width: 20px;
    position: absolute;
    right: 133px;
    bottom: -12px;
  }

  /* //fontsize */
  .content-about > div > p,
  .coverInfo > p {
    font-size: 14px;
  }
}
@media (max-width: 645px) {
  .prev {
    width: 20px;
    position: absolute;
    left: 43px;
    bottom: -12px;
  }
  .next {
    width: 20px;
    position: absolute;
    right: 43px;
    bottom: -12px;
  }
}
@media (max-width: 414px) {
  .prev {
    width: 20px;
    position: absolute;
    left: 22px;
    bottom: -12px;
  }
  .next {
    width: 20px;
    position: absolute;
    right: 22px;
    bottom: -12px;
  }
}

@media (max-width: 1024px) {
  .cover {
    margin-left: 100px;
    margin-right: 100px;
  }
}
