.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 100px 0px;
  position: relative;
  overflow: hidden;
}
.video {
  background: gray;
  width: 100%;
  max-width: 1555px;
  height: 100%;
  min-height: 300px;
  margin-top: 70px;
  border: 2px solid #442493;
}
.cover > h3 {
  text-align: center;
  font: normal normal bold 45px/59px Roboto;
  letter-spacing: 0px;
  /* color: #212121; */
  opacity: 1;
}
.cover > p {
  text-align: center;
  font: normal normal bold 26px/30px Roboto;
  letter-spacing: 0.78px;
  color: #9e9e9e;
  opacity: 1;
}

.cover:hover .controls {
  transform: translateY(0px);
  transition: all 0.2s;
}
.cover:not(:focus) .controls {
  /* transform: translateY(0px); */
  transition: all 0.3s;
}
.controls {
  max-width: 1555px;
  display: flex;
  position: absolute;
  bottom: 0px;
  width: 100%;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.7);
  transform: translateY(100%) translateY(-5px);
}
.buttons {
  padding: 10px;
}
.buttons > button {
  background: none;
  border: 0px;
  outline: 0px;
  cursor: pointer;
}
.buttons > button::before {
  content: "\f144";
  font-family: "Font Awesome 5 Free";
  width: 30px;
  height: 30px;
  display: inline-block;
  font-size: 28px;
  color: #fff;
  /* -ms-font-smoothing:antial */
}

/* .buttons > button .play::before {
  content: "\f144";
}
.buttons > button .pause::before {
  content: "\f28b !important";
} */

.orangeBar {
  height: 10px;
  top: 0px;
  left: 0px;
  width: 100%;
  background: #000;
}
.orangeJuice {
  height: 10px;
  width: 100px;
  background-color: #442493;
}

.bigplaypause {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, 50%);
}
.bigplaypause > button {
  height: 71px;
  width: 210px;
  background: transparent;
  border: none;
  outline: none;
}
.bigplaypause > button::before {
  content: "\f144";
  font-family: "Font Awesome 5 Free";
  width: 70px;
  height: 70px;
  display: inline-block;
  font-size: 137px;
  color: #442493;
  outline: none;
  background: transparent;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50%, -50%);
}

@media (max-width: 768px) {
  .cover {
    margin: 0px;
  }
  .cover > h3 {
    font: normal normal bold 20px/26px Roboto;
  }
  .cover > p {
    font-size: 14px;
  }
}
