.root {
  display: flex;
  flex-direction: column;
  width: calc(33% - 30px);
  margin: 15px;
  border-radius: 33px;
  box-shadow: 7px 15px 26px #0000000d;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: ease-in-out 0.2s;
}

.root:hover {
  box-shadow: hsl(231deg 39% 49% / 30%) 5px 5px, rgb(63 81 181 / 30%) 10px 10px, rgb(63 81 181 / 20%) 15px 15px;

}

.root a{
  color: #2c3e50
}

.wrapImage span {
  width: 100%;
}

.wrapImage {
  height: 180px;
  max-height: 180px;
  border-radius: 24px 24px 0 0;
}

.img {
  width: 100%;
  border-radius: 25px 25px 0 0;
  object-fit: cover;
  height: 100%;
  box-shadow: rgb(14 30 37 / 32%) 0px 2px 16px 0px
}

.wrapTitle {
  width: 100%;
  padding: 25px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.projectName {
  font-size: 16px;
  margin: 10px 0;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
}

.description {
  font-size: 20px;
  color: #5a6084;
  margin: 10px 0;
  font-weight: 100;
  line-height: 1.5;
}

.shine .wrapImage{
  overflow: hidden;
  position: relative;
}

.shine .wrapImage::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}

@media (max-width: 1200px) {
  .root {
    width: calc(50% - 30px);
  }
}

@media only screen and (max-width: 800px) {
  .root {
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
    box-shadow: 1px 5px 4px 0px rgb(231, 230, 230);
  }

  .projectName {
    font-size: 16px;
    margin: 30px 0;
  }

  .description {
    font-size: 13px;
    margin: 0 0 25px 0;
  }

  .wrapTitle {
    padding: 0 25px;
  }
}

@keyframes bounce {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

.bounce {
  animation: bounce 0.5s linear 0.2s forwards;
  transform: scale(0);
  transform-origin: center;
}

.shine:hover .wrapImage::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}

@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}