.ab-row {
  width: 100%;
  display: flex;
  padding: 2.5% 0;
  align-items: center;
  justify-content: center;
}

.ab-box-text {
  text-align: justify;
  width: 100%;
  letter-spacing: 1px;
  line-height: 1.7;
}

.ab-box-text,
.ab-box-imaget {
  height: 100%;
}
/* .ab-box-image {
  max-width: 80%;
} */
.ab-box-image img {
  width: 100%;
}
/* .ab-box-text,
.ab-box-image,
.ab-box-image img {
  width: 100%;
} */

.ab-decorate {
  display: flex;
  padding-bottom: 35px;
}
.ab-decorate .ab-decorate-item {
  width: 50px;
  height: 20px;
}

.ab-decorate-item:nth-child(1) {
  background-color: #6a43d5;
}
.ab-decorate-item:nth-child(2) {
  background-color: #6a43d5e6;
  margin-left: 10px;
}
.ab-decorate-item:nth-child(3) {
  background-color: #6a43d5cc;
  margin-left: 10px;
}
.ab-decorate-item:nth-child(4) {
  background-color: #6a43d5b3;
  margin-left: 10px;
}
.ab-decorate-item:nth-child(5) {
  background-color: #6a43d599;
  margin-left: 10px;
}

@media (min-width: 769px) {
  .ab-row {
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .ab-row-reverse {
    flex-direction: row-reverse;
  }

  .ab-col {
    width: 50%;
    height: 100%;
  }

  .spacing {
    width: 5%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .ab-row {
    flex-direction: column;
  }

  .ab-box-text {
    margin: 20px 0;
    background: #fafafa;
    box-shadow: 0px 3px 6px #00000029;
    padding: 20px;
  }
}

@media (max-width: 1024px) {
  .ab-cover {
    margin-left: 100px;
    margin-right: 100px;
  }
}
