.wrap-profile-icon {
  width: 54px;
  height: 100%;
}

.line-1 {
  transform: matrix(1.05, -1.5, 0.43, 0.17, -1, 37);
  border: 4px solid #6a43d5;
  opacity: 1;
}

.line-2 {
  border: 6px solid #6a43d5;
  opacity: 1;
  margin-top: 13px;
  transform: matrix(1.01, -1.48, 0.47, 0.17, -1, 37);
}

.line-3 {
  border: 4px solid #6a43d5;
  opacity: 1;
  margin-top: 12px;
  transform: matrix(1.05, -1.5, 0.43, 0.17, 1, 37);
}

.profile-big-title > h1 {
  font-size: 45px;
  font-weight: bold;
  line-height: 59px;
  color: #2f3f4e;
  text-transform: uppercase;
  opacity: 1;
}

.wrapper-head {
  padding-bottom: 80px;
  padding: 0px 5%;
  margin: 100px 40px 0 40px;
}

.wrap-title {
  display: flex;
  align-items: flex-end;
  height: 150px;
}

.profile-title {
  margin-left: 40px;
  width: 100%;
}

.profile-sub-title {
  font-size: 26px;
  font-weight: normal;
  line-height: 40px;
  letter-spacing: 0.78px;
  color: #9e9e9e;
  opacity: 1;
}

.divided-line {
  border: 1px solid #c8b8f4;
  opacity: 1;
  width: 100%;
  margin-top: 30px;
}

.wraper-content {
  padding: 0 19%;
}

.wrap-container-content {
  padding: 30px 0;
  border-bottom: 2px solid #c8b8f4;
}

.wrap-profile {
  display: flex;
  justify-content: space-between;
  padding: 0px 0px 0px 2%;
}

.profile-label {
  font-size: 20px;
  font-weight: bold;
  color: #2f3f4e;

  width: 50%;
}

.profile-content {
  font-size: 16px;
  font-weight: normal;
  color: #2f3f4e;
  width: 40%;
}
.message-label {
  font-size: 26px;
  font-weight: bold;
  line-height: 30px;
  color: #2f3f4e;
}

.message-content {
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;
  color: #2f3f4e;
  /* padding-top: 25px; */
  line-height: 40px;
  text-align: left;
}

.wrap-address-message {
  /* padding-top: 77px; */
  padding-right: 100px;
  padding-left: 90px;
}

.wrap-detail {
  display: flex;
  justify-content: space-between;
  /* padding-top: 50px; */
  padding-right: 15px;
}

#google-map {
  width: 100%;
  height: 562px;
}

.wrap-message-icon {
  width: 54px;
  height: 100%;
}
.wrap-message {
  /* max-width: 75%; */
}
@media (max-width: 1000px) {
  .wrap-profile {
    padding: 0px 6% 0px 2%;
  }

  .wraper-content {
    padding: 0 10%;
  }

  .wrap-container-content {
    padding: 30px 0;
  }
  .profile-label {
    font-size: 16px;
    font-weight: bold;
  }
  .profile-content {
    font-size: 12px;
    font-weight: normal;
    width: 50%;
  }
  .wrap-title {
    align-items: flex-start;
  }
  .wrap-profile-icon {
    width: 90px;
  }
  .profile-title {
    margin-left: 20px;
  }
  .wrap-address-message {
    padding-right: 0px;
    padding-left: 0px;
  }
  .wrap-detail {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .btn-message {
    margin-left: 0px !important;
  }
  .wrap-message-icon {
    width: 40px;
    height: 100%;
  }
}
