
.containerC{
  margin-top: -80px;
  padding: 0px 100px 0 180px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.timeline{
  height: 600px;
  display: flex;
  align-items: center;
  width: 100%;
}
.milestone{
  width: 80px;
  position: relative;
  height: 520px;
}
.circle1{
  width: 56px;
  height: 56px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font: normal normal bold 30px Roboto;
  background-color: #412490;
  color: #FFFFFF;
  position: absolute;
  top:7px;
  right: 12px;
  z-index: 9;
}
.ring{
  width: 70px;
  height: 70px;
  border: #412490 solid 3px;
  border-radius: 100%;
  background-color: #FFFFFF;
  position: absolute;
  top: 0px;
  right: 5px;
  z-index: 6;
}
.line{
  width: 4px;
  height: 0px;
  background-color: #412490;
  position: absolute;
  top: 63px;
  right: 38px;
  z-index: 3;
}
.line1{
  width: 4px;
  height: 394px;
  background-color: #BDBDBD;
  position: absolute;
  top: 63px;
  right: 38px;
}
.circle2{
  width: 56px;
  height: 56px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font: normal normal bold 30px Roboto;
  background-color: #BDBDBD;
  color: #FFFFFF;
  position: absolute;
  top:157px;
  right: 12px;
  z-index: 9;
}
.circle3{
  width: 56px;
  height: 56px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font: normal normal bold 30px Roboto;
  background-color: #BDBDBD;
  color: #FFFFFF;
  position: absolute;
  top:307px;
  right: 12px;
  z-index: 9;
}
.circle4{
  width: 56px;
  height: 56px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font: normal normal bold 30px Roboto;
  background-color: #BDBDBD;
  color: #FFFFFF;
  position: absolute;
  top: 457px;
  right: 12px;
  z-index: 9;
}
.slide{
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  /* position: relative; */
}
.stack{
  width: 100%;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  /* position: absolute;
  top: -400px; */
}
.contentC{
  width: 100%;
  height: 100%;
  padding-left: 80px;
  text-align: left;
  display: flex;
  align-items: center;
}
.leftC{
  width: 45%;
  float: left;
}
.rightC{
  width: 55%;
  float: left;
}
.yearC{
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #23496D;
  margin-bottom: 50px;
}
.titleC{
  font: normal normal bold 20px/26px Roboto;
  letter-spacing: 0px;
  color: #23496D;
  opacity: 1;
  margin-bottom: 20px;
}
.subtitleC{
  font: normal normal normal 20px/26px Roboto;
  letter-spacing: 0px;
  color: #23496D;
  opacity: 1;
  margin-bottom: 50px;
}
.milestone{
  position: relative;
}
.horizonMilestone{
  display: none;
}
.containerD{
  /* margin-top: 100px; */
  padding: 0 100px 0 180px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.titleD{
  font: normal normal bold 45px/59px Roboto;
  letter-spacing: 0px;
  color: #212121!important;
  text-transform: uppercase;
  opacity: 1;
}
.subtitleD{
  font: normal normal bold 26px/40px Roboto;
  letter-spacing: 0.78px;
  color: #9E9E9E;
  opacity: 1;
  margin-bottom: 20px;
}
.rowD{
  width: 100%;
  padding: 30px 0px;
  display: flex;
  text-align: left;
  border-bottom: solid 1px #4e7eac;
}
.rowD-end{
  width: 100%;
  padding: 30px 0px;
  display: flex;
  text-align: left;
}
.leftColumn{
  float: left;
  width: 45%;
  padding-right: 4px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.78px;
  color: #23496D;
  opacity: 1;
  margin-right: 50px;
}
.rightColumn{
  float: left;
  width: 65%;
  font-size: 18px;
  letter-spacing: 0.78px;
  color: #23496D;
  opacity: 1;
}

@media (max-width:960px) {
  .containerD{
    padding: 0px 100px;
  }
  .horizonMilestone{
    display: flex;
    padding:0px 2vh;
    width:100%;
    height:100%;
    margin-top: 10px;
  }
  .timeline{
    height: auto;
  }
  .stack{
    width: 100%;
    height: 100%;
    display: -webkit-box;
  }
  .contentC{
    width: 100%;
    height: fit-content;
    padding-left: 0px;
    text-align: left;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }
  .leftC{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px 1vh;
  }
  .rightC{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .milestone{
    display: none;
  }
  .yearC{
    font-size: 30px;
    margin-bottom: 0px;
  }
  .titleC{
    font-size: 16px;
    margin-bottom: 5px;
  }
  .subtitleC{
    font-size: 16px;
    margin-bottom: 0px;
  }
  #detail-btn-company{
    display: none;
  }

}
@media (max-width:768px) {
  .containerC{
    padding: 0;
    margin-top: 30px;
  }
  .containerD{
    /* margin-top: 100px; */
    padding: 0px 20px;
  }
  .leftC #detail-btn-company{
    display: none;
  }
  .rowD{
    margin: unset;
    padding: 10px 0px;
  }
  .rowD-end{
    margin: unset;
    padding: 10px 0px;
  }
  .leftColumn{
    width: 35%;
    font: normal normal bold 13px/30px Roboto;
    letter-spacing: 0.78px;
  }
  .rightColumn{
    width: 65%;
    font: normal normal normal 13px/30px Roboto;
    letter-spacing: 0.78px;
  }
  .titleD{
    font: normal normal bold 35px/59px Roboto;
    margin: 0;
  }
  .subtitleD{
    font: normal normal bold 16px/40px Roboto;
  }

}
