.header-title-text {
  position: absolute;
  top: 265px;
  left: 334px;
  font-size: 32px;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 6.4px;
  color: #ffffff;
}
.image-wrapper-01 {
  margin-top: 71px;
  display: flex;
  justify-content: center;
  margin-bottom: 52px;
}

.content-wrapper-03 {
  height: 30px;
  background: #ebebeb 0% 0% no-repeat padding-box;
}

@media (min-width: 1200px) {
  .img-child-04 {
    text-align: right;
  }

  .img-02 {
    padding-left: 5%;
  }

  .img-03 {
    padding-left: 10%;
  }
}
@media (max-width: 1200px) {
  .content-wrapper-01 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }

  .cw1-child-00 {
    padding-bottom: 30px !important;
  }

  .content-wrapper-02 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }

  .image-wrapper-01 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  .content-wrapper-03 {
    display: none;
  }
}
@media (max-width: 1000px) {
  .header-title-text {
    display: none;
  }
}

/* REPLACE EXISTING HTML WITH HTML BELOW*/
/* <div class="container-fluid image-wrapper-01">
    <div class="container row">
        <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12 no-default-spacing image-top-wrapper img-child-01">
            <img class="image-top img-01" src="./img/company-image-02.svg" />
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12 no-default-spacing image-top-wrapper img-child-02">
            <img class="image-top img-02" src="./img/company-image-03.svg" />
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12 no-default-spacing image-top-wrapper img-child-03">
            <img class="image-top img-03" src="./img/company-image-04.svg" />
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12 no-default-spacing image-top-wrapper img-child-04">
            <img class="image-top img-04" src="./img/company-image-05.svg" />
        </div>
    </div>
</div> */
