.sl-container {
  width: 100%;
  position: relative;
  padding: 120px 100px;
}

.sl-pos-relative {
  position: relative;
}

.sl-container-ratio {
  padding-top: 21.9%;
}

.sl-box-color {
  position: absolute;
  width: 28.7%;
  height: 100%;
  border: 10px #7c57e2 solid;
  top: 0;
  left: 0;
}

.sl-box-text {
  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 93%;
}

.sl-box-title {
  font-size: 2.4vw;
  font-weight: bold;
}

.sl-box-subtitle {
  font-size: 1.2vw;
  color: #9e9e9e;
}

.sl-quarter-img {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  height: 50%;
}

.sl-control {
}

.sl-control img {
  width: 100px;
  height: 40px;
}

.sl-slider {
  position: absolute;
  top: 0;
  right: 0px;
  width: 78.5%;
  height: 100%;
}

.sl-slick-container {
  margin: 0 -16px;
}

.sl-slick-container .slick-list .slick-track .slick-slide {
  /* padding: 2px; */
}

.sl-fill,
.sl-box-text,
.sl-full-height,
.sl-carousel-item_url,
.sl-slick-container,
.sl-slick-container .slick-list,
.sl-slick-container .slick-list .slick-track,
.sl-slick-container .slick-list .slick-track .slick-slide,
.sl-slick-container .slick-list .slick-track .slick-slide > div {
  height: 100%;
}

.sl-carousel-item_flex {
  display: flex;
  align-items: center;
}

.sl-carousel-item_spacing {
  padding: 0 16px;
  background-color: white;
  width: 100%;
  height: 73%;
}

.sl-carousel-item_url {
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  width: 100%;
  display: flex;
  align-items: center;
}

.sl-img-item {
  padding: 20px;
  height: auto;
}

@media (max-width: 768px) {
  .sl-container {
    padding-left: 0;
    padding-right: 0;
  }

  .sl-pos-relative {
    display: flex;
    flex-direction: column;
  }

  .sl-control,
  .sl-container-ratio,
  .sl-quarter-img {
    display: none;
  }

  .sl-box-color {
    position: relative;
    width: 100%;
    border: none;
  }

  .sl-box-text {
    width: 100%;
  }

  .sl-box-title {
    font-size: 20px;
  }

  .sl-box-subtitle {
    font-size: 14px;
  }

  .sl-slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 40vw;
  }

  .sl-carousel-item_spacing {
    padding: 0 8px;
    transition: all 0.3s;
  }

  .slick-slide.slick-center .sl-carousel-item_spacing {
    height: 90%;
  }

  .slick-slide:not(.slick-center) .sl-carousel-item_spacing {
    height: 73%;
  }

  .sl-img-item {
    padding: 0 12px;
  }

  .sw-slide-services:nth-child(odd) .sw-box-bounding {
    align-items: center !important;
  }

  .sw-box-bounding .sw-box-content {
    padding: 0 !important;
  }
}

@media (max-width: 1280px) {
  .sl-quarter-img {
    display: none;
  }
}

@media (max-width: 1400px) {
  .sw-box-bounding .sw-box-content {
    padding: 0 100px;
  }
}

.slick-arrow {
  display: none !important;
}

.sw-slide-all-page {
  overflow: hidden;
}

.sw-container,
.sw-container-all-page,
.sw-slide-all-page {
  width: 100%;
  height: 100vh;
}

.sw-slide-free-mode {
  height: auto !important;
}

.fill-full-screen {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.sw-slide-services {
  width: 100%;
  height: 100%;
}

.sw-box-bounding {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.sw-slide-services:nth-child(odd) .sw-box-bounding {
  align-items: flex-end;
}

.sw-slide-services:nth-child(even) .sw-box-bounding {
  align-items: flex-start;
}

.sw-box-content {
  width: 100%;
  padding: 0 179px;
}

.swiper-container,
.swiper-wrapper,
.swiper-slide {
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  backface-visibility: hidden;
}
