.inspect-maintenance-group-bg {
  background: #E5F5F7;
  width: 100%;
  margin: auto;
}
.inspect-maintenance-group {
  /* background: #E5F5F7; */
  /* width: 80%; */
  /* width: 53.125%; */
  /* height: 418px; */
  margin: auto;
  padding-top: 36px;
  margin-bottom: 48px;
}

.inspect-maintenance-flow {
  padding-bottom: 0;
}

.inspect-maintenance-group-title {
  font-weight: bold;
  font-size: 24px;
  color: #0099E7;
  text-align: center;
}

.inspect-maintenance-flow-desc {
  /* width: 1020px; */
  width: 53.125%;
}

.inspect-maintenance-flow-desc .remote-manage-flow-desc {
  margin-bottom: 50px;
}

.inspect-maintenance-group-element {
  width: 300px;
height: 281px;
background: #fff;
  padding: 24px 21px;
  margin-bottom: 31px;
  /* padding-left: 21px; */
}

.inspect-maintenance-group-element-title {
  font-weight: bold;
  font-size: 20px;
  color: #0099E7;
  width: 100%;
  text-align: left;
  margin: 0;
}

.inspect-maintenance-group-element-desc {
  font-size: 16px;
  padding-top: 25px;
}

.inspect-maintenance-group-foot {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.inspect-maintenance-group-element-title-spec {
  font-weight: bold;
}

@media screen and (max-width: 1136px) {
  .inspect-maintenance-group-bg {
    width: 100%;
  }

  .inspect-maintenance-flow-desc {
    /* width: 335px; */
    width: 100%;
  }

  .inspect-maintenance-group {
    width: 100%;
    height: 100%;
    /* margin: 0; */
  }

  .remote-manage-flow-group-introduce .col-sm-12 {
    padding: 0;
  }

  .remote-manage-flow-group-introduce .container-fluid {
    padding: 0 20px;
  }

  .inspect-maintenance-group-foot {
    flex-wrap: wrap;
  }

  .inspect-maintenance-group-element {
    margin-bottom: 50px;
  }
}