.arrow-left {
  position: absolute;
  left: 0px;
  top: 51px;
}

.arrow-right {
  position: absolute;
  right: 0px;
  top: 51px;
}
.imgitem > span {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: auto !important;
  padding: 50px 20px;
}
.carousel-item {
  transition: none;
  max-width: 100% !important;
}
@media (min-width: 1900px) {
  /* #carousel-example {
    max-width: 1374px;
  } */
  /* .top-content-project {
    width: 1374px;
    height: 275px;
  } */
  .crsitem {
    height: 275px;
  }
}

@media (min-width: 1600px) and (max-width: 1900px) {
  /* #carousel-example {
    max-width: 1200px;
  } */
  /* .top-content-project {
    width: 1200px;
    height: 245px;
  } */
  .crsitem {
    height: 245px;
  }
}
@media (max-width: 1700px) {
  /* #carousel-example {
    max-width: 1000px;
  } */
}
@media (min-width: 1377px) and (max-width: 1600px) {
  /* #carousel-example {
    max-width: 960px;
  } */
  /* .top-content-project {
    width: 960px;
  } */
  .crsitem {
    height: 205px;
  }
  /* .col-md-6 {
    flex: 1 0 100%;
    max-width: 100%;
  } */
}
@media (min-width: 1280px) and (max-width: 1377px) {
  /* #carousel-example {
    max-width: 860px;
  } */
  /* .top-content-project {
    width: 860px;
    height: 150px;
  } */
  .crsitem {
    height: 150px;
  }
}
@media (min-width: 1080px) and (max-width: 1280px) {
  /* #carousel-example {
    max-width: 660px;
  } */
  /* .top-content-project {
    width: 660px;
    height: 150px;
  } */
  .crsitem {
    height: 150px;
  }
}
@media (min-width: 930px) and (max-width: 1080px) {
  /* #carousel-example {
    max-width: 660px;
  } */
  /* .top-content-project {
    width: 560px;
    height: 150px;
  } */
  .crsitem {
    height: 150px;
  }
}
@media (min-width: 768px) and (max-width: 930px) {
  /* #carousel-example {
    max-width: 460px;
  } */
  /* .top-content-project {
    width: 460px;
    height: 100px;
  } */
  .crsitem {
    height: 100px;
  }
}
@media (max-width: 790px) {
  /* #carousel-example {
    max-width: 360px;
  } */
  /* .top-content-project {
    width: 360px;
    height: 100px;
  } */
  .crsitem {
    height: 100px;
  }
}
@media (max-width: 768px) {
  /* #carousel-example {
    max-width: 250px;
  } */
  /* .top-content-project {
    width: 250px;
    height: 100px;
  } */
  .crsitem {
    height: 100px;
  }
}
@media (width: 768px) {
  .col-md-6 {
    flex: 1 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Show 4th slide on md if col-md-4*/
  .carousel-inner
    .active.col-md-4.carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    /*change this with javascript in the future*/
    z-index: -1;
    display: block;
    visibility: visible;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  /* Show 3rd slide on sm if col-sm-6*/
  .carousel-inner
    .active.col-sm-6.carousel-item
    + .carousel-item
    + .carousel-item {
    position: absolute;
    top: 0;
    right: -50%;
    /*change this with javascript in the future*/
    z-index: -1;
    display: block;
    visibility: visible;
  }
}

@media (min-width: 5px) {
  .carousel-item {
    margin-right: 0;
    /* height: 100%; */
  }

  /* show 2 items */
  /* .carousel-inner .active + .carousel-item {
    display: block;
  } */

  .carousel-inner .carousel-item-next {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be also positioned for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

/* MD */
@media (min-width: 768px) {
  /* show 3rd of 3 item slide */
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }

  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  /* left or forward direction */
  .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* right or prev direction */
  .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

/* LG */
@media (min-width: 991px) {
  /* show 4th item */
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
    display: block;
  }

  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    transition: none;
  }

  /* Show 5th slide on lg if col-lg-4 */
  .carousel-inner
    .active.col-lg-4.carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    /*change this with javascript in the future*/
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* right or prev direction //t - previous slide direction last item animation fix */
  .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

.top-content-project {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -13px;
}

.cs-carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.cs-carousel-item_url {
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  border: 0.5px solid gray;
}

.cs-carousel-item_url > span {
  height: auto !important;
}

#carousel-example {
  width: 100%;
  height: 100%;
}
#carousel-example a {
  border: none !important;
  box-shadow: 0px 3px 6px #0000006b !important;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item {
    transition: none;
  }
  .top-content-project {
    margin-right: unset;
  }

  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }

  .carousel-inner {
    align-items: center;
  }

  .carousel-item {
    transition: none;
    max-width: 100% !important;
  }

  #carousel-example {
    min-width: 140%;
  }

  .carousel-inner .active + .carousel-item {
    width: 50%;
    flex-basis: 50%;
    z-index: 9;
  }

  .carousel-inner .active,
  .carousel-inner .active + .carousel-item + .carousel-item {
    width: 25%;
    flex-basis: 25%;
  }
}

.fill {
  width: 100%;
  height: 100%;
}
