.container {
  padding: 0px 179px;
  margin-top: 100px;
}
.cover {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  height: 50vh;
}
.reverse {
  flex-direction: row-reverse;
}
.wrapServices{
  /* height: 100vh; */
}
.groupImg {
  position: relative;
}
.mainImg {
  z-index: 1;
}

.title {
  display: none;
}
.bgImgOdd {
  position: absolute;
  bottom: 0px;
  left: 0px;
  transform: translate(-55px, 50px);
  z-index: -1;
}
.bgImgEven {
  position: absolute;
  bottom: 0px;
  right: 0px;
  transform: translate(55px, 50px);
  z-index: -1;
}
.contentText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 71px 0px 214px;
  /* max-width: 544px; */
}
.contentText a:hover svg{
  transition: stroke-dashoffset .6s cubic-bezier(0.215, 0.61, 0.355, 1);
  stroke-width: 2;
  stroke-dashoffset: -207px;
}
.contentText > h3 {
  text-align: left;
  font: normal normal bold 30px/36px Roboto;
  letter-spacing: 0.9px;
  color: #412490;
  opacity: 1;
  margin-bottom: 28px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 1;
  -moz-line-clamp: 1;
  -ms-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
}
.contentText > p {
  text-align: center;
  font: normal normal normal 16px/25px Roboto;
  letter-spacing: 0.48px;
  color: #212121;
  opacity: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 9;
  -moz-line-clamp: 9;
  -ms-line-clamp: 9;
  line-clamp: 9;
  overflow: hidden;
}

.contentReverse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 214px 0px 71px;
  /* max-width: 544px; */
}
.contentReverse > h3 {
  text-align: left;
  font: normal normal bold 30px/36px Roboto;
  letter-spacing: 0.9px;
  color: #412490;
  opacity: 1;
  margin-bottom: 28px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 1;
  -moz-line-clamp: 1;
  -ms-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
}
.contentReverse > p {
  text-align: center;
  font: normal normal normal 16px/25px Roboto;
  letter-spacing: 0.48px;
  color: #212121;
  opacity: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 9;
  -moz-line-clamp: 9;
  -ms-line-clamp: 9;
  line-clamp: 9;
  overflow: hidden;
}
.h2Text {
  text-align: left;
  font: normal normal bold 45px/25px Roboto;
  letter-spacing: 4.5px;
  color: #412490;
  opacity: 1;
  position: absolute;
  transform: rotate(90deg) translate(47%, 245px);
  float: left;
}
.h2Text::after {
  content: "";
  height: 15px;
  width: 100%;
  background-color: #7c57e2;
  position: absolute;
  bottom: -7px;
  left: 0;
  z-index: -1;
}
@media (min-width: 1600px) and (max-width: 1800px) {
  .contentReverse {
    margin: 0px 114px 0px 71px;
  }
  .contentText {
    margin: 0px 71px 0px 114px;
  }
}
@media (min-width: 1366px) and (max-width: 1600px) {
  .contentReverse {
    margin: 0px 71px 0px 71px;
  }
  .contentText {
    margin: 0px 71px 0px 71px;
  }
}
@media (min-width: 1024px) and (max-width: 1366px) {
  .mainImg {
    width: 500px;
    /* margin-top: 50%; */
  }
  .contentText {
    margin: 0px 0px 0px 72px;
  }
  .contentReverse {
    margin: 0px 72px 0px 0px;
  }
  .bgImgEven {
    top: 0px;
    transform: translate(115px, 80px) scale(0.5);
  }
  .bgImgOdd {
    top: 0px;
    transform: translate(-115px, 80px) scale(0.5);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .mainImg {
    width: 400px;
    /* margin-top: 50%; */
  }
  .container {
    padding: 0 100px;
  }
  .bgImgEven {
    top: 0px;
    transform: translate(115px, 25px) scale(0.5);
  }
  .bgImgOdd {
    top: 0px;
    transform: translate(-115px, 25px) scale(0.5);
  }
  .contentReverse {
    margin: 0px 48px 0px 14px;
  }
  .contentText {
    margin: 0px 14px 0px 48px;
  }
  .contentText > p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 5;
    -moz-line-clamp: 5;
    -ms-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden;
  }
  .contentReverse > p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 5;
    -moz-line-clamp: 5;
    -ms-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden;
  }
  .h2Text {
    transform: rotate(90deg) translate(20%, 178px) scale(0.5);
  }
}
@media (min-width: 768px) and (max-width: 800px) {
  .contentReverse {
    margin: 0px 24px 0px 14px;
  }
  .contentText {
    margin: 0px 14px 0px 24px;
  }
}
@media (max-width: 768px) {
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
  }
  .title > h3 {
    text-align: left;
    font: normal normal bold 20px/26px Roboto;
    letter-spacing: 0px;
    color: #212121;
    text-transform: uppercase;
    opacity: 1;
    margin-bottom: 12px;
  }
  .title > p {
    text-align: left;
    font: normal normal bold 16px/30px Roboto;
    letter-spacing: 0.48px;
    color: #9e9e9e;
    opacity: 1;
  }
  .mainImg {
    width: 100%;
    margin-top: 20px;
    min-width: 179px;
    margin-bottom: 40px;
  }
  .bgImgEven {
    width: 100px;
  }
  .bgImgOdd {
    width: 100px;
  }
  .cover {
    flex-direction: column;
    padding: 0px;
    margin: 35px 24px;
  }
  .container {
    padding: 0;
  }
  .groupImg {
    margin: 0px 24px 0px 0px;
    transform: translateX(24px);
  }
  .contentText {
    margin: 0px;
  }
  .contentReverse {
    margin: 0px;
  }
  .contentReverse > h3 {
    text-align: left;
    font: normal normal bold 16px/25px Roboto;
    letter-spacing: 0.48px;
    color: #412490;
    opacity: 1;
  }
  .contentText > h3 {
    text-align: left;
    font: normal normal bold 16px/25px Roboto;
    letter-spacing: 0.48px;
    color: #412490;
    opacity: 1;
  }
  .contentReverse > p {
    text-align: center;
    font: normal normal normal 12px/25px Roboto;
    letter-spacing: 0.36px;
    color: #212121;
    opacity: 1;
  }
  .contentText > p {
    text-align: center;
    font: normal normal normal 12px/25px Roboto;
    letter-spacing: 0.36px;
    color: #212121;
    opacity: 1;
  }
  .groupImg {
    display: flex;
    justify-content: center;
  }

  .bgImgOdd,
  .bgImgEven {
    bottom: 0;
    left: 0;
    transform: translate(2px, -38px) scale(1.5);
  }
  .h2Text {
    display: none;
  }
}
@media (width: 768px) {
  .cover {
    padding: 0px;
  }
  .mainImg {
    width: 90%;
  }
  .bgImgOdd {
    bottom: 0;
    left: 0;
    transform: translate(17px, 280px) scale(1.5) !important;
  }
  .bgImgEven {
    bottom: 0;
    left: 0;
    transform: translate(17px, 280px) scale(1.5) !important;
  }
  .h2Text {
    display: none;
  }
}
@media (max-width: 414px) {
  .cover {
    padding: 0px;
  }
  .mainImg {
    width: 100%;
    margin-top: 20px;
  }
  .bgImgOdd {
    bottom: 0;
    left: 0;
    transform: translate(-24px, -13px);
  }
  .bgImgEven {
    bottom: 0;
    left: 0;
    transform: translate(-24px, -13px);
  }
}
