@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

body.light-mode {
  font-family: 'Hina Mincho', serif;
  /* body: "#FFF"; */
  color: #2c3e50;
  /* toggleBorder: "#FFF"; */
  background: #fff;
  letter-spacing: 1px;
}

body.dark-mode {
  background: #230b4c !important;
}

body.dark-mode p,
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode div,
body.dark-mode td,
body.dark-mode th {
  color: #ffffff !important;
}

body.dark-mode #message,
body.dark-mode #covermessage,
body.dark-mode #wrap-contact {
  background-color: #231846;
}

body.dark-mode #right-contact input:focus,textarea:focus{
  border-bottom: 2px solid #DEDEE2;
}
body.dark-mode #right-contact input,textarea{
  border-bottom: 1px solid #DEDEE2;
}


.btn-dark-mode {
  position: fixed;
  z-index: 20px;
  top: 28px;
  right: 150px;
  height: 30px;
}

.wrap-table-content {
  padding: 0 100px 0px 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrap-table-content > table:first-child {
  /* margin-bottom: 28px; */
  margin-right: 20px;
}

.white-border {
  position: absolute;
  right: -100%;
  bottom: 0;
  width: 200%;
  height: 1px;
  background-color: white;
  z-index: 1;
}

#main-title {
  text-align: left;
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 10px;
  font-family: "Prompt", sans-serif;
}

a:hover {
  text-decoration: none;
}

#detail-btn-company:hover svg {
  stroke-dashoffset: -207px;
}

#stroke-arr-btn {
  display: block;
  right: -25px;
  height: 7px;
  fill: none;
  stroke: #6c3af5;
  stroke-width: 2;
  transition: stroke-dashoffset 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  width: 50px;
  stroke-dasharray: 69px 138px;
  position: absolute;
}

#detail-btn-company {
  background-image: linear-gradient(315deg, #9921e8 0%, #5f72be 74%);
  border-radius: 5px;
  opacity: 1;
  width: 200px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  position: relative;
  z-index: 50;
}

#sub-title {
  text-align: center;
  font-size: 18px;
  color: #9e9e9e;
  opacity: 1;
  font-weight: normal;
  margin-bottom: 0;
}

#detail-btn-company-content {
  color: var(--unnamed-color-ffffff);
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  text-decoration: none;
  letter-spacing: 3px;
}

#scroll {
  position: fixed;
  right: 62px;
  bottom: 62px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  z-index: 100;
}

#scroll img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 100%;
  width: 100%;
}

.table-style {
  border: 2px solid #6f5bca;
  height: 500px;
}

.table-style > thead > th:first-child {
  background-color: #7b4bd2;
  color: #fff;
  /* width: 200px; */
  text-align: center;
  border: 1px solid #442493;

}
.table-style > tbody > th {
  width: 199px;
}
@media (max-width: 1023px) {
  .wrap-table-content {
    flex-direction: column;
  }
  .wrap-table-content > table:first-child {
    margin-bottom: 28px;
    margin-right: 0px;
  }
}

@media (max-width: 768px) {
  .table td, .table th {
    font-size: 14px;
  }
  #detail-btn-company {
    width: 98%;
    height: auto;
    padding: 15px 0;
    min-width: 180px;
  }
  .wrap-table-content {
    padding: 0 12px;
  }
}

@media (max-width: 414px) {
  #main-title {
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
  }

  #sub-title {
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
  }

  #detail-btn-company {
    width: 227px;
    margin: 30px auto auto;
    height: 66px;
  }

  #detail-btn-company-content {
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
  }
}
