@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

* {
  margin: 0px;
  padding: 0px;
}
html {
  scroll-behavior: smooth;
}

body.light-mode {
  font-family: "Noto Sans JP", Arial, sans-serif;
  /* body: "#FFF"; */
  color: #363537;
  /* toggleBorder: "#FFF"; */
  background: #fff;
}

body.dark-mode {
  color: #23496d;
  background: #000a35;
}
body.light-mode h1 {
  color: #fff;
}
body.dark-mode p,
h1,
h2,
h3,
h4,
h5 {
  color: #23496d;
}

.btn-dark-mode {
  position: fixed;
  z-index: 20px;
  top: 28px;
  right: 150px;
  height: 30px;
}

.white-border {
  position: absolute;
  right: -100%;
  bottom: 0;
  width: 200%;
  height: 1px;
  background-color: white;
  z-index: 1;
}

#main-title {
  text-align: left;
  font: normal normal bold 45px/59px Roboto;
  letter-spacing: 0px;
  color: #412490;
  opacity: 1;
}

#stroke-arr-btn {
  display: block;
  right: -16px;
  height: 7px;
  fill: none;
  stroke: #6c3af5;
  stroke-width: 2;
  transition: stroke-dashoffset 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  width: 64px;
  stroke-dasharray: 69px 138px;
  position: absolute;
}

#detail-btn-company {
  background: #412490 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 308px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  position: relative;
  z-index: 50;
}

#sub-title {
  text-align: left;
  font: normal normal bold 26px/30px Roboto;
  letter-spacing: 0.78px;
  color: #9e9e9e;
  opacity: 1;
  font-weight: normal;
}

#detail-btn-company-content {
  color: var(--unnamed-color-ffffff);
  text-align: left;
  font: normal normal bold 16px/30px Roboto;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  text-decoration: none;
}

#scroll {
  position: fixed;
  right: 62px;
  bottom: 62px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  z-index: 100;
}
#scroll img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 100%;
  width: 100%;
}

@media (max-width: 414px) {
  #main-title {
    font: normal normal bold 20px/26px Roboto;
  }

  #sub-title {
    font: normal normal bold 14px/30px Roboto;
  }

  #detail-btn-company {
    width: 227px;
    margin-left: 80px;
    height: 66px;
  }

  #detail-btn-company-content {
    font: normal normal bold 14px/30px Roboto;
  }
}
